---
title: "Home"
layout: home
---
    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix section_padding_50" id="home">
        <div class="container h-100">
            <div class="row h-100 header-logo">
                <div class="col-md-8 offset-2 text-center">
                    <img src="/assets/img/flintconf-logo.png" alt="FlintConf logo" class="img-responsive">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <div class="wellcome-heading">
                        <h2>FlintConf</h2>
                        <h3>The Denton startup conference for hipsters, hackers, and hustlers</h3>
                        <h4>April 12, 2019 @ Stoke Denton</h4>
                    </div>
                    <div class="get-start-area">
                        <!-- <p>Wherever you are in your entrepreneurial pursuits, FlintConf will take you further.</p> -->
                        <p><a href="{{ site.data.event.url }}" title="Register now" class="btn btn-warning btn-lg" target="_blank">Register now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

<section class="pricing-plane-area section_padding_50" id="what">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>What is FlintConf?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
                <div class="col-8 offset-2 mb-30">
                    <p>This is a one-day, single track conference in Denton for entrepreneurs, creatives, freelancers, side hustlers, and students in any stage of their business development to learn how to optimize available resources to start and grow successfully. Conference attendees will participate in business-informative, interactive sessions lead by experts in entrepreneurship, lean startup, marketing, branding, finance, wellness, and more.</p>
                    <p><strong>Wherever you are in your entrepreneurial pursuits, FlintConf will take you further.</strong></p>
                </div>
            </div>
    </section>


    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="who">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Who is FlintConf for?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="ti-ruler-pencil" aria-hidden="true"></i>
                        </div>
                        <h4>Hipsters</h4>
                        <h5><small>design, creative, art, music, makers</small></h5>
                        <p>For art and creativity to become sustenance: Feed the fire and yourself. </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="ti-desktop" aria-hidden="true"></i>
                        </div>
                        <h4>Hackers</h4>
                        <h5><small>development, engineering, technology</small></h5>
                        <p>For code to become cash: Develop ways to translate your work and value.</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="ti-money" aria-hidden="true"></i>
                        </div>
                        <h4>Hustlers</h4>
                        <h5><small>sales, marketing, bizdev</small></h5>
                        <p>For ideas to become tangible: Transform ideas into plans and plans into results. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Special Description Area -->
        <div class="special_description_area mt-150 pricing-plane-area section_padding_50" id="when">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="special_description_img">
                            <img src="/assets/img/flintconf-sq.png" alt="FlintConf Logo alternative" style="max-width: 350px;">
                        </div>
                    </div>
                    <div class="col-md-6 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>When & Where</h2>
                            <h3>Presented by Stoke, TechMill, and GDAC</h3>
                            <p>
                                April 12, 2019<br>
                                8am-5pm + Happy Hour from 5-7pm<br>
                            </p>
                            <p>
                                <address>
                                    Stoke Denton<br>
                                    608 E Hickory Street Suite 128<br>
                                    Denton, TX 76205
                                </address>
                            </p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Store Btn -->
                                    <a href="{{ site.data.event.url }}" target="_blank">
                                        <i class="fa fa-calendar"></i>
                                        <p class="mb-0"><span>you can</span> Register Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Special Area End ***** -->

    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                        <h2>What will you gain?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Loop Features -->
                {% assign features = site.features | reverse %}
                {% for feature in features %}
                    {% assign icon = feature.icon %}
                    {% unless icon %}{% assign icon = "pulse" %}{% endunless %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-feature">
                            <i class="ti-{{ icon }}" aria-hidden="true"></i>
                            <h5>{{ feature.title }}</h5>
                            <p>{{ feature.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ***** Awesome Features End ***** -->



    <!-- ***** Pricing Plane Area Start *****==== -->
    <!-- <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-heading text-center">
                        <h2>Pricing Plan</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-3">

                    <div class="single-price-plan text-center">

                        <div class="package-plan">
                            <h5>Starter Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>29</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Up to 10 users monthly</p>
                            <p>Unlimited updates</p>
                            <p>Free host &amp; domain</p>
                            <p>24/7 Support</p>
                            <p>10 Unique Users</p>
                        </div>

                        <div class="plan-button">
                            <a href="#">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">

                    <div class="single-price-plan text-center">

                        <div class="package-plan">
                            <h5>Basic Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>49</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Up to 10 users monthly</p>
                            <p>Unlimited updates</p>
                            <p>Free host &amp; domain</p>
                            <p>24/7 Support</p>
                            <p>10 Unique Users</p>
                        </div>

                        <div class="plan-button">
                            <a href="#">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">

                    <div class="single-price-plan active text-center">

                        <div class="package-plan">
                            <h5>Advenced Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>69</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Up to 10 users monthly</p>
                            <p>Unlimited updates</p>
                            <p>Free host &amp; domain</p>
                            <p>24/7 Support</p>
                            <p>10 Unique Users</p>
                        </div>

                        <div class="plan-button">
                            <a href="#">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">

                    <div class="single-price-plan text-center">

                        <div class="package-plan">
                            <h5>Community Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>99</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Up to 10 users monthly</p>
                            <p>Unlimited updates</p>
                            <p>Free host &amp; domain</p>
                            <p>24/7 Support</p>
                            <p>10 Unique Users</p>
                        </div>

                        <div class="plan-button">
                            <a href="#">Select Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Pricing Plane Area End ***** -->


    <!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Our Sponsors</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% assign sponsors = site.sponsors | sort:"order_sort" %}
                {% for sponsor in sponsors %}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="{{ sponsor.image }}" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    {% if sponsor.facebook %}
                                    <a href="{{ sponsor.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    {% endif %}
                                    {% if sponsor.twitter %}
                                    <a href="{{ sponsor.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    {% endif %}
                                    {% if sponsor.instagram %}
                                    <a href="{{ sponsor.instagram }}" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    {% endif %}
                                    {% if sponsor.url %}
                                    <a href="{{ sponsor.url }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>{{ sponsor.title }}</h4>
                            <p>{{ sponsor.subtitle }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area End ***** -->

    <!-- **** Sponsors Start **** -->
    <!-- <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">

                    <div class="section-heading">
                        <h2>Our Team</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="slides" data-slick="{ "slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "autoplaySpeed": 2000 }">
                    {% assign sponsors = site.sponsor | reverse %}
                    {% for sponsor in sponsors %}
                        <div class="sponsor">
                        <img src="/assets/img/{{ sponsor.image }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section> -->

    <!-- **** Sponsors End **** -->

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Get in touch with us!</h2>
                        <div class="line-shape"></div>
                    </div><!--
                    <div class="footer-text">
                        <p>We'll send you epic weekly blogs, whitepapers and things to make your app startup thrive, all FREE!</p>
                    </div> -->
                    <div class="address-text">
                        <p><span>Address:</span> 608 E Hickory Street Suite 128, Denton, TX 76205</p>
                    </div>
                    <div class="phone-text">
                        <p><span>Phone:</span> 940-268-5374</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> <a href="mailto:info@stokedenton.com">info@stokedenton.com</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="https://formspree.io/info@stokedenton.com" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->

